<section class="form-container">
  <h1>Create a Ticket</h1>
  <form #ticketForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" type="text" name="name" id="name" [(ngModel)]="ticket.name" placeholder="Issue" required minLength="2" #name="ngModel">
      <span *ngIf="name.invalid && (name.dirty || name.touched)"class="alert-danger">
        <span *ngIf="name.errors.required">* Name is required</span>
      </span>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" type="email" name="email" id="email" [(ngModel)]="ticket.email" placeholder="email@example.com" required minLength="2" #email="ngModel">
      <span *ngIf="email.invalid && (email.dirty || email.touched)"class="alert-danger">
        <span *ngIf="email.errors.required">* Email is required</span>
      </span>
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input class="form-control" type="tel" name="phone" id="phone" [(ngModel)]="ticket.phone" placeholder="+254777777777" required minLength="2" #phone="ngModel">
      <span *ngIf="phone.invalid && (phone.dirty || phone.touched)"class="alert-danger">
        <span *ngIf="phone.errors.required">* Phone number is required</span>
      </span>
    </div>
    <div class="form-group">
      <label for="priority">Priority</label>
      <select class="form-control" id="priority" name="priority" [(ngModel)]="ticket.priority" required required minLength="2" #priority="ngModel">
        <option class="form-control" *ngFor="let priority of priorities" [value]="priority">{{priority}}</option>
      </select>
      <span *ngIf="priority.invalid && (priority.dirty || priority.touched)"class="alert-danger">
        <span *ngIf="priority.errors.required">* Priority is required</span>
      </span>
    </div>
    <div class="form-group">
      <label for="subject">Subject</label>
      <input class="form-control" type="text" name="subject" id="subject" [(ngModel)]="ticket.subject" placeholder="Subject" required minLength="2" #subject="ngModel">
      <span *ngIf="subject.invalid && (subject.dirty || subject.touched)"class="alert-danger">
        <span *ngIf="subject.errors.required">* Subject is required</span>
      </span>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input class="form-control" type="text" name="description" id="description" [(ngModel)]="ticket.description" placeholder="Description" required minLength="2" #description="ngModel">
      <span *ngIf="name.invalid && (description.dirty || description.touched)"class="alert-danger">
        <span *ngIf="description.errors.required">* Description is required</span>
      </span>
    </div>
    <div class="form-group">
      <label for="department">Department</label>
      <input class="form-control" type="text" name="department" id="department" [(ngModel)]="ticket.department" placeholder="Department" required minLength="2" #department="ngModel">
      <span *ngIf="department.invalid && (department.dirty || department.touched)"class="alert-danger">
        <span *ngIf="department.errors.required">* Department is required</span>
      </span>
    </div>
    <div class="form-group">
      <label for="createdBy">Created-By</label>
      <input class="form-control" type="text" name="createdBy" id="createdBy" [(ngModel)]="ticket.createdBy" placeholder="Your name" required minLength="2" #createdBy="ngModel">
      <span *ngIf="createdBy.invalid && (createdBy.dirty || createdBy.touched)"class="alert-danger">
        <span *ngIf="createdBy.errors.required">* Created-By is required</span>
      </span>
    </div>
    <button class="btn btn-default" type="submit" (onClick)="onSubmit(); ticketForm.reset()" [disabled]="!ticketForm.form.valid">Create</button>
  </form>
</section>