.detail-page {
    height: 100%;
    width: 100%;
}

.detail-container {
    border: 1px solid #eee;
    border-radius: 4px;
    width: 80%;
    margin: 2rem auto 0 auto;
    padding: 2rem;
    background-color: #fff;
}

.buttons-container {
    margin-top: 1rem;
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

button {
    padding: .5rem 2rem;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    transition: all .5s ease-in;
}

.back {
    border: 1px solid #000;
}

.back:hover {
  color: #fff;
  background-color: #000;
}

.edit {
    border: 1px solid skyblue;
}

.edit:hover {
    color: #fff;
    background-color: skyblue;
}

.close {
    border: 1px solid lightcoral;
}

.close:hover {
  color: #fff;
  background-color: lightcoral;
}
